{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 register-page">
    <h2 class="text-center">What is your age?</h2>
    <p class="text-center text-muted">Share with us your age. This information will assist us.</p>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3 d-flex justify-content-center">
            {{ form.age }}
        </div>
        <button type="submit" class="btn btn-primary w-100">Next</button>
    </form>
    <div class="text-center mt-3">
        <p>Already have an account? <a href="{% url 'login' %}" class="text-primary">Login</a></p>
    </div>
</div>
{% endblock %}